



###################### TECH STORE ###################

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/tech-store/.env
/tech-store/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/tech-store/.next/
/tech-store/.next/cache
/tech-store/out/

# production
/tech-store/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
/tech-store/next-env.d.ts

#################################

###################### SANITY STORE ###################

/sanity-store/node_modules
/sanity-store/.env